<!doctype html>
<html lang="en">

<head>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div id="app">
        <form class="form-inline" v-on:submit.prevent="search" novalidate>
            <div class="input-group">
                <input placeholder="Search hashtag" type="text" class="form-control" v-model="hashtag" required>
                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
        </form>

        <pie-chart ref="chart"></pie-chart>
        <table v-if="tweets">
            <h2 v-if="tweets">{{ SENTIMENT[selectedSentiment] | toUpperCase }} TWEETS</h2>
            <tr v-for="tweet in tweets">
                <td>{{ tweet.content }}</td>
                <td>{{ tweet.confident_level | toPercent }}%</td>
            </tr>
        </table>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>

    <script>
        const PieChart = Vue.component('pie-chart', {
            mixins: [VueChartJs.mixins.reactiveData],
            extends: VueChartJs.Pie
        })

        new Vue({
            el: '#app',
            data() {
                return {
                    hashtag: '',
                    selectedSentiment: null, // 0: positive, 1: neutral, 2: negative, 3:mixed
                    SENTIMENT: [
                        'positif',
                        'neutral',
                        'negative',
                        'mixed'
                    ],
                    tweets: null,
                    notFilteredTweets: null
                }
            },
            components: {
                'pie-chart': PieChart
            },
            filters: {
                toUpperCase: function (val) {
                    if (!val) return ''
                    val = val.toString()
                    return val.toUpperCase()
                },
                toPercent: function(val) {
                    if (!val) return ''
                    return val * 100
                }
            },
            methods: {
                search: function (event) {
                    axios
                        .get('http://localhost:5000/api/tweet/' + this.hashtag)
                        .then(response => {
                            const responseData = response.data
                            this.notFilteredTweets = responseData
                            counts = _.countBy(responseData, 'sentiment')
                            console.log(responseData)
                            console.log(counts)

                            this.$refs.chart.renderChart({
                                labels: ["Positive", "Neutral", "Negative", "Mixed"],
                                datasets: [{
                                    label: 'Tweets sentiment',
                                    backgroundColor: ['#89c402', '#0078d4', '#a51419', '#976C0E'],
                                    data: [counts.positif, counts.neutral, counts.negative, counts.mixed]
                                }]
                            }, { responsive: true, maintainAspectRatio: false, onClick: this.update })
                            console.log(counts)
                        })
                        .catch(err => {
                            console.log(err)
                        })
                },
                update(point, event) {
                    const item = event[0]
                    console.log(item)
                    this.selectedSentiment = item._index
                    this.tweets = _.filter(this.notFilteredTweets, { 'sentiment': this.SENTIMENT[this.selectedSentiment] })
                }
            }
        })
    </script>
</body>

</html>