<!doctype html>
<html lang="en">

<head>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div id="app">
        <form autocomplete="off" class="form-inline" v-on:submit.prevent="search" novalidate>
            <div class="form-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">#</span>
                </div>
                <input placeholder="Search hashtag" type="text" class="form-control" v-model="hashtag">
                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
        </form>
        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
              <li v-for="error in errors" class="text-danger">{{ error }}</li>
            </ul>
        </p>

        <pie-chart ref="chart"></pie-chart>

        <h2 v-if="tweets">{{ SENTIMENT[selectedSentiment] | toUpperCase }} TWEETS</h2>
        <table v-if="tweets" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Content</th>
                    <th scope="col">Confident level</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="tweet in tweets">
                    <th scope="row">{{ tweet.id_tweet }}</th>
                    <td>{{ tweet.date }}</td>
                    <td>{{ tweet.content }}</td>
                    <td>{{ tweet.confident_level | toPercent }}%</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>

    <script src="script.js"></script>
</body>

</html>